
body {
    background-color:lightblue; 
    border-style: groove;
    border-width: 5px;
  }
  h2 {
      text-align: center;
      text-decoration-color: blueviolet;
  }
  input {
      text-align: center;
  }
