
body {
    background-color:lightblue; 
    border-style: groove;
    border-width: 5px;
    border-color: darkblue;
  }
  h2 {
      text-align: center;
      font-size: 40;
      
  }
  h3 {
      text-align: center;
  }
  input {
      text-align: center;
  }
tbody {
    font-size: 20;
    text-align: center;
}
